
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env
.env.*
.vscode/
.idea/
.DS_Store
*.log
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.egg-info/

.ipynb_checkpoints/


outputs/docs/
outputs/report.html
outputs/temp*
outputs/debug*
*.pem
*.key
*.crt
Thumbs.db